{% extends 'base.html' %}
{%load staticfiles%}
{% block title %} Editar Tema {% endblock %}
{%block style%}
<link rel="stylesheet" href="{% static 'css/detalle_curso.css' %}">
<script type="text/javascript" src="{% static 'jquery-2.1.4.js'%}"></script>
{%endblock%}
{% block body %}

<div align="center" style="padding:20px;">
  <div style="width:900px;" class="contenedor2" align="left">
    <h2>Editar Tema</h2>
    <hr />
    <form method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <!-- {{form.as_p}} -->
      {{ form.non_field_errors }}
          <p class="fieldWrapper">
            {{ form.nombre.errors }}
            {{ form.nombre.label_tag }}
            <input type="text" name="nombre" required="" id="id_nombre" maxlength="40" value="{{temaActual.nombre}}">
          </p>
          <p class="fieldWrapper">
            {{ form.teoria.errors }}
            {{ form.teoria.label_tag }}<br />
            <textarea name="teoria" id="id_teoria" rows="10" cols="40" required="">{{temaActual.teoria}}</textarea>
          </p>
          <div class="fieldWrapper">
            {{ form.video.errors }}
            {{ form.video.label_tag }}
            {% if temaActual.video  %}{{temaActual.video}}<br />{% endif %}
            {{ form.video }}
          </div>
      <input class="btn btn-success" id="btn_Crear"  type="submit" name="cmdGuardar" value="Guardar"> </input>
    </form>

  </div>
</div>
{% endblock %}
