{% extends 'base.html' %}
{% block title %} Bienvenida {% endblock %}
{% load staticfiles %}
  {% load static %}

{% block body %}

{% if isTeacher %}
{% for i in maestro%}
<div align="center" style="padding:20px;">
  <div style="padding: 30px; width:900px;"  class="card border-dark " align="left">
    <h2>Creacion de un curso.</h2>
    <h4>Crea un curso atractivo anadiendo video,teoria y cuestionarios.
      Ademas de esto puedes agregar objetivos.</h4>
    <p>NOTA: La imagen ponla a un lado y es nomas para que no se vea tan solo todo el texto.</p>
    <p>NOTA 2: Creo que todas las bienvenidas son importantes porque te van guiando chido.</p>


    <a href="/bienvenida_tutor3" class="btn btn-primary btn-sm" >Siguiente</a>
    <br />
    <div style="display:inline-block; width:30%; background-color:lightgray; padding:20px;">
      <img src="{% static 'images/header.jpg' %}" alt="WeLearnImg" width="100%" >
    </div>

  </div>
</div>
{% endfor%}
{% endif %}

{% endblock %}
