
{% extends 'base.html' %}
{% block title %} Crea Categoria {% endblock %}
{% block body %}

<div align="center" style="padding:20px;">
  <div style="padding: 30px; width:900px;"  class="card border-dark " align="left">
    <h2>Agrega Categoria</h2>
    <h5>Crees que hace falta alguna categoria. Haznos saber cual.</h5>
    <form method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="cmdGuardar" value="Crear"> </input>
    </form>

  </div>
</div>

{% endblock %}
