{% extends 'base.html' %}
{% block title %} Mis Obras {% endblock %}


{% block body %}
{% if user.is_authenticated %}


  <div align="center" style="padding:20px;">
    <h1>Curriculum de "{{ user.username }}"</h1>
    <div style="padding: 30px; width:900px;"  class="card border-dark " align="left">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="margin-left:80px;">Registrar</button>
      </form>

    </div>
  </div>

{% else %}
<h1 align="center" style="padding:30px;">You must log in first</h1>
{% endif %}
{% endblock %}
