{% extends 'base.html' %}
{%load staticfiles%}
{% block title %} Login {% endblock %}
{% block style%}
<link rel="stylesheet" href="{% static 'css/detalle_curso.css' %}">
{%endblock%}

{% block body %}



  {% if not user.is_authenticated %}
<div align="center" style="padding:20px;">
  <div style="padding: 30px; width:300px;"  class="contenedor2" >
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="/signup" class="btn btn-primary" style="width:90px;">Register</a>
      <button type="submit" class="btn btn-primary" style="margin-left:40px; width:90px">Login</button>
    </form>
  </div>
</div>


    {% else %}
      <h1>Welcome {{ user.username }} !!!</h1>
  {% endif %}



{% endblock %}
